:host {
  display: block;
  width: 100%;
  padding: 0 var(--gap);
}

div {
  width: 100%;
  height: 500px;

  background: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);

  padding: 10px;
}
