header {
  display: grid;
  grid-template-columns: 75px repeat(auto-fit, minmax(200px, 1fr));
  padding: 12px 20px;

  background: var(--color-bg-secondary);
  border-bottom: 1px solid var(--color-border);
}

.favorite img {
  width: 20px;
  height: 20px;
}

.item,
.pair {
  display: flex;
  flex-direction: column;
  padding: 0 var(--gap);
  border-right: 1px solid var(--color-border);
}

header .item:last-child {
  border: none;
}

.label {
  font-size: 12px;
  font-weight: 300;
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text);
}

.settings {
  display: grid;

  grid-template-columns: repeat(3, 200px);

  justify-content: center;

  margin: 0 var(--gap);
  padding: 6px 0px;

  background: var(--color-bg-secondary);

  border: 1px solid var(--color-border);
  border-top: none;
  border-radius: 0 0 var(--radius) var(--radius);
}

.settings .item {
  padding: 3px var(--gap);
  border-right: 1px solid var(--color-border);
}

.settings .item:last-child {
  border: none;
}

button,
select {
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  padding: 3px 10px;
  border-radius: var(--radius);
  cursor: pointer;
}

button:hover,
select:hover {
  border-color: var(--color-accent);
}
