:root {
}

[data-theme='dark'] {
  --background: black;
  --text: white;
}

[data-theme='brand'] {
  --background: white;
  --text: black;
}

html {
  background: var(--background);
  color: var(--text);
}
