@import url(app/styles/reset-styles.css);
@import url(app/styles/fonts.css);

[data-theme='dark'] {
  --background: black;
  --text: white;
}

[data-theme='light'] {
  --background: white;
  --text: black;
}

html {
  background: var(--background);
  color: var(--text);
}
